<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--如果加上下面这句就报错可以试试将前面的约束中
    xmlns:context="http://www.springframework.org/schema/util修改为
    xmlns:context="http://www.springframework.org/schema/context"即可！-->
    <context:property-placeholder location="classpath:Car/db.properties"/>

    <bean id="car" class="Car.CarClass">
        <!--<constructor-arg value="Audi" name="brand"> </constructor-arg>-->
        <!--<constructor-arg value="white" index="1"> </constructor-arg>-->
        <!--<constructor-arg value="180" type="int"> </constructor-arg>-->
        <!--<constructor-arg type="Car.CarClass" ref="aClass"/>-->
        <constructor-arg>
            <bean class="Car.CarClass">
                <constructor-arg value="Audi" name="brand"> </constructor-arg>
                <constructor-arg index="1">
                    <!--add <![CDATA[...]]> to show special String-->
                    <value><![CDATA[<white>]]></value>
                </constructor-arg>
                <constructor-arg value="180" type="int"> </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>


    <bean id="car1" class="Car.CarClass" p:brand="benz" p:max="250">
        <property name="color">
            <null/>
        </property>
    </bean>

    <bean id="carMan" class="Car.CarMan" p:name="flip" p:age="20">
        <property name="cars">
            <!--<list>-->
            <!--<ref bean="car"/>-->
            <!--<ref bean="car1"/>-->
            <!--</list>-->
            <map>
                <entry value-ref="car1" key="1">
                </entry>
                <entry value-ref="car" key="2">
                </entry>
            </map>
        </property>
    </bean>

    <!--default scope is singleton, so you don't need to add the scope when you want a singleton bean-->
    <bean id="singleCar" class="Car.CarClass"
          p:brand="lexus" p:max="220" p:color="purple" scope="singleton"/>


    <!--我们在开发过程中可能会直接将一些属性信息直接写在spring的配置文件中，但是一旦有改
    变，修改此文件会显得很复杂，比如下面的这个datasource可能会有很多，但如果我们将这些配
    置信息写在外部属性文件中，打开相应文件修改会显得更方便-->
    <!--Spring2.5之后，我们可以通过<context:property-placeholder>使用外部属性文件-->

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${user}"/>
        <property name="password" value="${password}"/>
        <property name="driverClass" value="${driverClass}"/>
        <property name="jdbcUrl" value="${jdbcUrl}"/>
    </bean>
</beans>